*

######## Structure ########
!crates/
!crates/lib
!crates/bin

!Cargo.toml
!Cargo.lock

###### Documentation ######
!docs

!README.md
!CONTRIBUTING.md
!SECURITY.md

######## Compliance #######
!.attribution/
!.attribution/*.txt

!LICENSE

######## Git Config #######
!.gitignore
!.gitattributes

!commitlint.config.ts
!.lefthook.yml

########## CI/CD ###########
!.github

########## Build ###########
!.tasks/

!.mise.toml
!rust-toolchain.toml
!tasks.toml
!tasks.*.toml

### Formatting / Linting ##
!.config/

!.clippy.toml
!.cspell.json
!.editorconfig
!.markdownlint-cli2.jsonc
!.prettierignore
!.rustfmt.toml
!eslint.config.ts

!package.json
!bun.lock

########### AI ############
!.windsurfrules
